[submodule "libs/fusepy"]
	path = libs/fusepy
	url = https://github.com/terencehonles/fusepy
[submodule "libs/python_flickr_api"]
	path = libs/python_flickr_api
	url = git://github.com/alexis-mignon/python-flickr-api.git
[submodule "libs/requests"]
	path = libs/requests
	url = git://github.com/kennethreitz/requests.git
